<div id="brabs-admin-shortcuts-modal" class="brabs-admin-shortcuts-modal hidden row">
    <h2>Keyboard Shortcuts</h2>
    <div class="col-m-6">
        <h3>Navigation Shortcuts</h3>
        <ul>
            <li>
                <dl>
                    <dt>Go to Dashboard</dt>
                    <dd><span class="key">g</span> then <span class="key">d</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Go to Sales Orders</dt>
                    <dd><span class="key">g</span> then <span class="key">s</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Go to Products</dt>
                    <dd><span class="key">g</span> then <span class="key">p</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Go to Customers</dt>
                    <dd><span class="key">g</span> then <span class="key">c</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Go to System Configuration</dt>
                    <dd><span class="key">g</span> then <span class="key">x</span></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="col-m-6">
        <h3>Utility Shortcuts</h3>
        <ul>
            <li>
                <dl>
                    <dt>Open Filters</dt>
                    <dd><span class="key">/</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Apply Filters</dt>
                    <dd><span class="key">enter</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Grid - Next Page</dt>
                    <dd><span class="key">j</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Grid - Previous Page</dt>
                    <dd><span class="key">k</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Global Search</dt>
                    <dd><span class="key">shift</span> + <span class="key">f</span></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>Open Keyboard Shorcuts Help</dt>
                    <dd><span class="key">?</span></dd>
                </dl>
            </li>
        </ul>
    </div>
    <br />
</div>
